body
{
	max-width: 1024px;
	margin: 0 auto;
}
header img /*logo*/
{
	width: 100px;
	float: right;
	margin-top: -45px;
}

header 
{
	margin-bottom: 50px;
	text-align: center;
}

header nav
{
	display: none;
}

header nav ul li
{
	margin-right: 10px;
	display: inline-block;
}

#entradaUsuario
{
	width: 350px;
	margin: 0 auto;
}

main article /*#artAltaUsuarios*/
{
	display: none;
	width: 350px;
	margin: 0 auto;
}